/* Here is where header styles start */

.nav-container {
    width: 100%;
    background-color: $mainColor;
    .navbar {
        height: 3.5em;
        width: 100%;
        #navbar-logo {
            position: absolute;
            top: 0.2em;
            color: $text;
            left: 2em;
            cursor: pointer;
        }
        .sidenav {
            position: absolute;
            top: 1.6em;
            left: 20%;
            z-index: 1;
        }
        .sidenav a {
            text-decoration: none;
            text-align: center;
            color: $text;
            margin-left: 2em;
            float: left;
            font-size: 20px;
            display: block;
        }
        ul {
            position: absolute;
            display: block;
            list-style: none;
            float: right;
            right: 2em;
            top: 0.5em;
        }
        a {
            color: $text;
            text-decoration: none;
            position: relative;
        }
    }
}