/* This is where variable styles start */
/* Here is where body styles start */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

.courseFormContainer {
  position: relative;
  left: 20%;
  width: 60%;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  top: 5em;
}

.courseFormContainer input[type="text"],
.courseFormContainer input[type="input"],
.courseFormContainer input[type="number"],
.courseFormContainer select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.courseFormContainer input[type="submit"],
.courseFormContainer input[type="button"] {
  font-family: "Montserrat", sans-serif;
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.courseFormContainer input[type="submit"] a,
.courseFormContainer input[type="button"] a {
  text-decoration: none;
}

.courseFormContainer input[type="submit"]:hover,
.courseFormContainer input[type="button"]:hover {
  background-color: #d17777;
}

/* Here is where fonts styles start */
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: 0.5em 0 0.25em;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: 0.25em 0 0.5em;
}

/* Here is where header styles start */
.nav-container {
  width: 100%;
  background-color: green;
}

.nav-container .navbar {
  height: 3.5em;
  width: 100%;
}

.nav-container .navbar #navbar-logo {
  position: absolute;
  top: 0.2em;
  color: white;
  left: 2em;
  cursor: pointer;
}

.nav-container .navbar .sidenav {
  position: absolute;
  top: 1.6em;
  left: 20%;
  z-index: 1;
}

.nav-container .navbar .sidenav a {
  text-decoration: none;
  text-align: center;
  color: white;
  margin-left: 2em;
  float: left;
  font-size: 20px;
  display: block;
}

.nav-container .navbar ul {
  position: absolute;
  display: block;
  list-style: none;
  float: right;
  right: 2em;
  top: 0.5em;
}

.nav-container .navbar a {
  color: white;
  text-decoration: none;
  position: relative;
}

/* This is where the login css starts*/
#container {
  position: relative;
  margin: 8% auto;
  height: 400px;
  width: 650px;
  background: white;
  -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.159), 0px 0px 50px rgba(255, 255, 255, 0.309);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.159), 0px 0px 50px rgba(255, 255, 255, 0.309);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
}

#container .leftBox {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  width: 325px;
  height: 400px;
}

#container .rightBox {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid white;
  padding: 40px;
  width: 325px;
  height: 400px;
}

#container input[type="text"],
#container input[type="email"],
#container input[type="password"] {
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-weight: 400;
  font-size: 15px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#container input[type="submit"] {
  display: block;
  margin-bottom: 28px;
  padding: 4px;
  width: 120px;
  height: 32px;
  border: none;
  background: green;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

#container input[type="submit"]:hover,
#container input[type="submit"]:focus {
  background: #d17777;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

button.ghost {
  border-radius: 20px;
  background: transparent;
  border-color: white;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  border-radius: 2px;
  z-index: 10;
}

.overlay-container .overlay {
  background: green;
  background: -webkit-gradient(linear, left top, right top, from(#0130ff), to(green)) no-repeat 0 0/cover;
  background: linear-gradient(to right, #0130ff, green) no-repeat 0 0/cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-container .overlay h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  color: #f6f5f7;
}

.overlay-container .overlay .overlay-panel {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-container .overlay .overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-container .overlay .overlay-left {
  left: 0;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

/* Animation */
.container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.text-danger {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 13%;
  font-size: 1.6em;
  color: red;
  font-weight: 500;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 6px;
  position: relative;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 8px;
  right: 35px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 0;
}

.form-control.error i.fa-exclamation,
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

#gameContainer {
  position: absolute;
  height: 80%;
  left: 10%;
  width: 75%;
  top: 15%;
}

#gameContainer iframe {
  text-align: center;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#messageContainer {
  top: 100%;
  position: absolute;
  left: 9%;
  width: 67%;
}

#messageContainer .commentForm {
  color: white;
  left: 10%;
  width: 100%;
}

#messageContainer .commentForm textarea {
  width: 100%;
  height: 2%;
  background-color: white;
  resize: none;
}

#messageContainer .commentForm button {
  width: 100px;
  height: 30px;
  background-color: #282828;
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.commentBox {
  width: 90%;
  padding: 20px;
  margin-bottom: 4px;
  background-color: #fffbfb;
  color: black;
}

.commentBox p {
  font-weight: 300;
  font-size: 19px;
  line-height: 16px;
}

.gameContainer {
  position: absolute;
  top: -10em;
  width: 90%;
  left: 15%;
  color: black;
}

.gameContainer img {
  -webkit-box-shadow: 1px 1px 5px #ccc;
          box-shadow: 1px 1px 5px #ccc;
}

.gameContainer a {
  float: left;
  position: relative;
  padding: 9px 8px 9px 16px;
  width: 20%;
  height: 30%;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  display: block;
}

#contact-form-container {
  top: 20%;
  position: absolute;
  text-align: center;
  left: 15%;
  width: 70%;
  color: white;
  background-color: green;
}

#contact-form-container .contact-form {
  color: white;
}

#contact-form-container .contact-form label {
  padding: 5%;
}

#contact-form-container .contact-form input[name="name"],
#contact-form-container .contact-form input[name="mail"] {
  width: 30%;
  float: right;
}

footer {
  position: absolute;
  bottom: 0em;
  height: 4.5em;
  width: 100%;
  color: white;
  /* Button used to open the contact form - fixed at the bottom of the page */
}

footer .open-button {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 1em;
  right: 2%;
  width: 280px;
}

footer .chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  color: black;
  border: 3px solid;
  z-index: 9;
}

footer .formContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

footer .formContainer .btn:hover,
footer .open-button:hover {
  opacity: 1;
  background-color: green;
}
/*# sourceMappingURL=mystyle.css.map */